<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bell Pepper Classifier</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <h1>Bell Pepper Leaf Classifier</h1>
    <p>
      A classifier model to predict if your bell pepper leaf is healthy or not.
      As of right now it only detects 1 disease which is
      <strong>Bacterial Spot</strong>.
    </p>

    <form action="/predict" method="post" enctype="multipart/form-data">
      <label for="file">Upload an image:</label>
      <input
        type="file"
        name="file"
        id="file"
        accept=".jpg, .jpeg, .png"
        required
      />
      <br />
      <input type="submit" value="Predict" />
    </form>
  </body>
</html>
